<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Detail - <%=time.name%></title>
    <% include partials/header%>
  </head>
  <body>
  <%include partials/nav%>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="<%=time.image%>" alt="">
      </div>
      <div class="col-md-12">
        <h1><%=time.name%></h1>
        <p><%=time.des%></p>
      </div>
      <div class="col-md-12">
        <a href="/time/<%=time._id%>/edit" class="btn btn-primary">Edit</a>
        <form action="/time/<%= time._id%>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger" name="button">Delete</button>
        </form>
      </div>
    </div>
  </div>
  <% include partials/footer%>
  </body>
</html>
